body{
    background-color: lightgray;
    
}
legend, label{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.options{
    color: white;
    margin-left: 1em;
    margin-top: 1em;
}
.header-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    position: relative;
    display: block;
    float: right;
    width: 30%;
    padding-right: 30%;
    
}

.header-text:hover{
    -webkit-animation: rainbow 6s ease infinite;
    animation: rainbow 6s ease infinite;
    background: -webkit-linear-gradient(0deg, #2b1de8, #1ddde8, #4DF0BF,lime, white, lavender, hotpink, aqua, #2b1de8);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 900% 900%;
    -webkit-text-fill-color: transparent;
    cursor:text;
}
@keyframes  rainbow{


0% {
    background-position: 0 82%;
}
50% {
    background-position: 100% 19%;
}
100% {
    background-position: 0 82%;
}
}



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .header-text{
        text-align: right;
        margin-top: 12px;
        margin-bottom: 15px;
        font-size: 15px;
        float: right;
        position: relative;
        margin-right: 5px;
        
    }
}